<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552050026992-702tq0iq3eudpv5djv7qbsdig2ecvfus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552050026992-702tq0iq3eudpv5djv7qbsdig2ecvfus</string>
	<key>API_KEY</key>
	<string>AIzaSyCyk1L5bdjfQ4vkyYpEPzP9hIvsRMj2Qtc</string>
	<key>GCM_SENDER_ID</key>
	<string>552050026992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musashi.CloudChatRoom</string>
	<key>PROJECT_ID</key>
	<string>cloudchatroom-33a28</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudchatroom-33a28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:552050026992:ios:744506e6a8e076ca</string>
	<key>DATABASE_URL</key>
	<string>https://cloudchatroom-33a28.firebaseio.com</string>
</dict>
</plist>